.criteria-filter {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.single-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2px;
}

.single-input {
    flex: 1;
    width: 75px;
}

.value-input {
    flex: 2;
    width: 75px;
}

.in-filter {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.in-value {
    display: flex;
    flex-direction: row;
    gap: 2px;
}