<div class="composite-filter">
    <div class="composite-selector">
        <div>{{lg.type}}:</div>
        <select class="composite-select" (change)="updateType($event)">
            <option *ngFor="let option of options" [value]="option.val" [selected]="filterObj.type == option.val">
                {{option.label}}</option>

        </select>
    </div>
    <div class="filter-childs" *ngIf="filterObj.filterObjects">
        <app-qb-filter [filterObj]="f" [tableComp]="tableComp" (removeEvent)="removeFilter(f)"
            [filterBuildType]="f.filter" *ngFor="let f of filterObj.filterObjects"></app-qb-filter>
    </div>
    <app-add-filter (newFilter)="addFilter($event)"></app-add-filter>
</div>